<!DOCTYPE html>
<html>
<head>
  <title>Credits and FAQ</title>
</head>
<a href="{{ url_for('routes.home') }}">Home</a>
<body>
  <h1>Credits</h1>
  <p>Webpage project by <b>Enoch Xavier Ku</b></p>
  <p><b>Technologies used:</b> Flask/PostgreSQL for backend, basic HTML for frontend</p>
  <p><b>GitHub</b>: <a href="https://github.com/onelastbyt3">https://github.com/onelastbyt3</a></p>
  <p><b>LinkedIn</b>: <a href="https://www.linkedin.com/in/onelastbyt3/">https://www.linkedin.com/in/onelastbyt3/</a></p>

  <h1>FAQ</h1>
<h3>How to Use the Site</h3>
<p>1. Create a backlog to add games that you have not completed yet. This will help you track your gaming progress.</p>
<p>2. If you have receipts of your game purchases, log them to get a clear estimate of how much you have really spent.</p>
<p>3. For each game, round up the "HowLongToBeat" time to the nearest hour as a whole number. You can find this information on Google or other sources.</p>
<h3>Avoiding the Sunk Cost Fallacy</h3>
<p>What is the sunk cost fallacy? It refers to the tendency to continue investing time, effort, or resources into something (in this case, gaming) simply because you have already invested a lot.</p>
<p>Remember, gaming should be enjoyable and for your personal entertainment. Don't feel obligated to continue playing a game just because you've invested a significant amount of time or money into it. If a game is no longer bringing you joy, it's okay to move on and explore new gaming experiences. That's why there is always a DELETE option in my webpage!</p>
<p>Focus on the present and choose games that truly engage and entertain you. Your gaming experience should be driven by enjoyment rather than the fear of wasting previous investments.</p>
<p>With that said, happy gaming and let's get to clearing that backlog!</p>
</body>
</html>
